body{
    background-image: url("../../src/acastro_200311_3936_coronavirus_0001.0.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    
    
    
    
}
h2{
    color: white;
}
.box{
    width: 30%;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
}
.box ul li{
list-style: none;
margin-bottom: 2px;
border-radius: 5px;
}
.card_name{
    text-decoration: solid;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card_small{
    text-decoration: solid;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
